<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vip001.monitor">

    <application>
        <service
            android:name="com.vip001.monitor.services.RemoteBackgroundService"
            android:process="${BACKGROUND_PROCESS_NAME}"></service>
        <service
            android:name="com.vip001.monitor.services.RemoteBackgroundService$InnerService"
            android:process="${BACKGROUND_PROCESS_NAME}">

        </service>

        <activity
            android:name="com.vip001.monitor.activity.DropFramesDetailActivity"
            android:launchMode="singleTop"
            android:process="${BACKGROUND_PROCESS_NAME}"
            android:taskAffinity="com.vip001.monitor.${applicationId}">

        </activity>
        <activity
            android:name="com.vip001.monitor.activity.DisplayDropFramesActivity"
            android:icon="@mipmap/monitor_ic_launcher"
            android:label="dropframes"
            android:launchMode="singleTask"
            android:process="${BACKGROUND_PROCESS_NAME}"
            android:taskAffinity="com.vip001.monitor.${applicationId}">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
