<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vip001.framemonitor">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ExApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".exam.ListPageSlideDropFrameActivity" />
        <activity android:name=".exam.FlowStatisticActivity" />
        <activity android:name="com.vip001.framemonitor.exam.TouchDropFrameActivity"></activity>
        <activity android:name=".exam.ServiceDropFrameActivity"></activity>

        <service android:name="com.vip001.framemonitor.exam.DropFrameService"></service>
        <receiver android:name="com.vip001.framemonitor.exam.DropFrameReceiver"></receiver>
        <activity android:name="com.vip001.framemonitor.exam.ReceiverDropFrameActivity"></activity>
    </application>

</manifest>